@{
  ViewData["Title"] = "Rubros";
}
<!-- Modal Rubro-->
<div class="modal fade" id="ModalRubros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloModal">NUEVO RUBRO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="show" id="rubroID" value="0" />
          <div class="row">
            <div class="mb-3 col-12">
              <label for="rubroNombre" class="form-label">NUEVO RUBRO</label>
              <input type="text" class="form-control" id="rubroNombre" placeholder="INGRESE EL NOMBRE DEL RUBRO">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="CargarRubro()">GUARAR</button>
      </div>
    </div>
  </div>
</div>

<!--Barra de busqueda rubro-->
<div class="input-group rounded">
  <input id="buscarRubro" type="text" class="form-control rounded" placeholder="BUSCAR RUBRO" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>

<!--Tabla Rubro-->
<table class="table">
  <thead>
    <tr>
      <th>Rubro</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="tbody-rubro">

  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th>Rubro</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="tbody-rubro1">

  </tbody>
</table>


<div id="results"></div>

<!--Boton para agregar nuevo rubro-->
<div class="d-flex justify-content-end align-items-center bd-highlight mb-2 fixed-bottom div-boton ">
  <div class="p-2 bd-highlight d-flex "><button type="submit" class="btn btn-primary mt-3 botonRubro"
      data-bs-toggle="modal" data-bs-target="#ModalRubros"><i class="material-icons text-center">add</i></button>
  </div>
</div>

@section Scripts {
  <script src="~/js/rubros.js"></script>
}