html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Estilos para el menú lateral */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #575d63;
}


 /* Estilos para el menú lateral */
 .sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  overflow-y: auto;
}

.sidebar a {
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #575d63;
}

/* Estilos para el contenido principal */
.main-content {
  margin-left: 200px; /* Debe coincidir con el ancho del menú */
  padding: 10px;
}

.navbar {
  margin-left: 200px; /* Ajustar navbar con el sidebar */
}

.bg-color {
  background-color: #5c9cdf;
}
